Player <%= player %>:
<br>
<select name="player[<%= player %>][]">
  <option value="normal">Normal</option>
  <option value="strong">Strong</option>
  <option value="fast">Fast</option>
</select>
<br>
<select name="player[<%= player %>][]">
  <option value="normal">Normal</option>
  <option selected value="strong">Strong</option>
  <option value="fast">Fast</option>
</select>
<br>
<select name="player[<%= player %>][]">
  <option value="normal">Normal</option>
  <option value="strong">Strong</option>
  <option selected value="fast">Fast</option>
</select>
<br>
<select name="player[<%= player %>][]">
  <option value="normal">Normal</option>
  <option value="strong">Strong</option>
  <option value="fast">Fast</option>
</select>
<br>
<select name="player[<%= player %>][]">
  <option value="normal">Normal</option>
  <option selected value="strong">Strong</option>
  <option value="fast">Fast</option>
</select>
<br>
<br>